<mat-sidenav-container class="sidenav-container">

  <mat-toolbar color="primary">
    <a mat-button class="title" [routerLink]="['/']">Azure Cognitive Services Lab</a>
    <span class="fill-space"></span>
    <a mat-button [routerLink]="['/face']">Face Recognition</a>
    <a mat-button [routerLink]="['/custom-vision']">Hot Dogs</a>
  </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  <mat-toolbar color="primary" class="footer">
    <a mat-button class="title" [routerLink]="['/']">Azure Cognitive Services Lab</a>
    <span class="fill-space"></span>
    <button mat-button></button>
  </mat-toolbar>
</mat-sidenav-container>
