.left {
  float: left;
}

.json-area {
  float: left;
  margin-left: 15px;
}

.snapshot-image {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

pre {
  padding: 10px;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0;
  font-size: 12px;
  font-family: 'Consolas';
  color: 111;
  text-align: left;
}
