/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
  background-color: white;
}

.ai-lab-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 60px;
}

.webcam video {
  width: 400px;
  height: 300px;
}
