<div class="ai-lab-content">
  <h3>Face Shooting - Face Api</h3>
  <div class="left">
    <div>
      <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
      <br/>
      <button id="snapshotBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    </div>
    <div class="snapshot" *ngIf="webcamImage">
      <h2>Nice one!</h2>
      <img class="snapshot-image" [src]="webcamImage.imageAsDataUrl"/>
    </div>
  </div>
  <div class="json-area" *ngIf="jsonResult">
    <pre>{{jsonResult}}</pre>
  </div>
  <div class="emoji-area">
    <span class="emoji">{{emojiIcon}}</span>
  </div>
</div>
